<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td class="question_index"><%= question.question %></td>
        <td class="question_index"><%= question.answer %></td>
        <td class="question_action"><%= link_to 'Show', question %></td>
        <td class="question_action"><%= link_to 'Edit', edit_question_path(question) %></td>
        <td class="question_action"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% question.users.each do |u| %>
        <tr>
          <td class="question_index"><strong>Edited by:</strong> <%=u.email%> </td> 
        </tr>
      <%  end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'My Questions/Answers', current_user %>
<%= link_to 'New Question', new_question_path %>

